<section class="above-footer section-5 w-100 bg-light">
    <div class="container border-bottom my-5 p-5">
      <div class="intro">
        <h1 class="w-md-50 text-shade text-center ms-auto me-auto p-2">
          BANDHAN.COM BEST ONLINE MATRIMONY SITE
        </h1>

        <p>
          <span class="text-shade fw-bolder">Bandhan</span>
          We have been making memorable memories through matchmaking for more
          than 20 years. It all began with creating many successful marriages
          for family and friends in upstate New York. To take the essence of
          matchmaking to the next level Shadi.com was created. Most important
          component of our network is that users find their match through our
          platform. We are proud to mention that millions of users have been
          impacted with our online marriage portal with happy endings. Our
          commitment lies in helping members meet someone special for long
          lasting relationship. Today, Shadi.com is known worldwide as one of
          the top introductions and matrimonial services provider. We are
          happy to welcome you to our matchmaking network and wish you success
          every step of the way.
        </p>
      </div>
    </div>

    <div class="container p-5 pt-3">
      <div class="row">
        <div class="col col-12 col-md-4">
          <h3 class="mb-3">About Bandhan</h3>
          <p>
            Bandhan®.com is a registered and trademarked corporation based in
            the Pakistan. We are a leading international matchmaking company
            for singles nationally. Through our network we want to make the
            process of relationship journey relatively effortless. All
            profiles are checked manually with phone verification to ensure a
            safe environment for the users.
          </p>
        </div>
        <div class="col col-12 col-md-2 p-2">
          <h4 class="ps-4">Need Help</h4>
          <ul class="above-footer">
            <li><a href="/user/register/signin">Member Login</a></li>
            <li><a href="#">Bandhan&reg; 101</a></li>
            <li><a href="/user/register/signup">Sign up</a></li>
            <li><a href="#">Member Support</a></li>
          </ul>
        </div>
        <div class="col col-12 col-md-2 p-2">
          <h4 class="ps-4">Company</h4>
          <ul class="above-footer">
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog&reg; 101</a></li>
            <li><a href="#">Helpful Tips</a></li>
            <li><a href="#">Submit Story</a></li>
          </ul>
        </div>
        <div class="col col-12 col-md-2 p-2">
          <h4 class="ps-4">Privacy & You</h4>
          <ul class="above-footer">
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col col-12 col-md-2 p-2">
          <h4 class="ps-4">More</h4>
          <ul class="above-footer">
            <li><a href="#">Top Ranking Cities</a></li>
            <li><a href="#">Parent involved</a></li>
            <li><a href="#">Intimate Cozy Wedding</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>