* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.main {
    width: 100%;
    height: 100%;
    background-image: url('./images/background-image.jpg');
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1000) {
    .main {
        position: inherit;
        width: 100vw;
        height: 10%;
        background-position: center center;
    }
}
.main .linear {
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}
.main nav {
    /* background-color: red; */
    max-width: 90vw;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main nav svg {
    width: 140px;
    position: relative;
    z-index: 10;
}
.main nav button {
    padding: 7px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    position: relative;
    z-index: 10;
}
button:hover {
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 60vh;
    margin: auto;
    width: 60vw;
    position: relative;
    z-index: 10;
    color: white;
}
main h1 {
    font-size: 3em;
    padding-bottom: 20px;
}
main h4 {
    font-size: 2em;
    padding-bottom: 20px;
    font-weight: 600;
}
main p {
    font-size: 1.2em;
    padding-bottom: 20px;
}
.entry {
    position: relative;
    z-index: 10;
    width: 30vw;
    height: 8vh;
    display: flex;
    align-items: center;
}
.entry input {
    width: 20vw;
    height: 100%;
    padding: 10px;
    background-color: transparent;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(178, 178, 178);
    color: white;
}
.entry button {
    border: none;
    width: 32%;
    padding: 5px;
    height: 100%;
    background-color: red;
    color: white;
    margin-left: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2em;

}
.entry input::placeholder {
    font-size: 1.2em;
    color: rgb(194, 194, 194);
}
.entry button svg {
    padding-top: 5px;
}
@media screen and (max-width: 1450px) {
    main div.entry {
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main div.entry input {
        margin-left: 13px;
        width: 90%;
        margin-bottom: 20px;
    }
    main div.entry button {
        width: 90%;
        border: 2px solid red;
    }
}
.first {
    height: 80vh;
    margin: auto;
    border-top: 5px solid grey;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.first .content {
    width: 42vw;
    padding: 50px 10px 50px 100px;
}
.first .content h1 {
    font-size: 3em;
    padding-bottom: 20px;
}
.first .content p {
    font-size: 1.4em;
    padding-bottom: 20px;
}
.first .image {
    height: 400px;
    width: 40vw;
    position: inherit;
}
.first .image img {
    height: 400px;
    position: relative;
    z-index: 5;
} 
.first .media video {
    top: 21%;
    width: 390px;
    position: absolute;
    left: 11%;
    z-index: 4;
}
@media screen and (max-width: 1160px) {
    .first .media video {
        position: absolute;
        left: 15%;
    }
}
.second .content {
    padding-left: 0;
    padding-right: 60px;
}
.second .image {
    padding: 50px;
    height: 50vh;
    width: 40vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second .image .media {
    margin: auto;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    background-color: black;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 15px;
}
.second .image .media img {
    object-fit: cover;
    height: 60vh;
    width: 60px;
    height: auto;
}
.second .image .media span {
    padding: 10px;
}
.second .image .media span:last-child {
    color: blue;
}
@media screen and (max-width: 1160px) {
    .second .image .media {
        width: 70%;
    }
}
.third {
    height: 50vh;
}
.third .content {
    width: 30vw;
    padding-left: 0;
    padding-right: 100px;
}
.third .space {
    width: 20vw;
    height: 100%;

}
.fourth {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-bottom: 5px solid grey;
}
.fourth .content {
    width: 40vw;
    padding-left: 0;
    padding-right: 100px;
}
.fourth .image {
    width: 40vw;
    height: 70vh;
    position: inherit;
}
.fourth .image img {
    height: 90%;
    position: absolute;
    right: 0;
    bottom: 20px;
}
@media screen and (max-width: 1170) {
    .fourth .content {
        width: 40vh;
        height: 100%;
        background-color: yellow;
    }
}
.questions {
    height: 135vh;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    align-items: center;
}
.questions h1 {
    font-size: 3rem;
    padding-bottom: 20px;
}
.questions .card {
    width: 80vw;
    background-color: rgb(65, 65, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin: 10px 0;
}
.questions .card span {
    font-size: 1.5rem;
}
.questions p {
    padding-top: 30px;
    font-size: 1.3rem;
    padding-bottom: 20px;
    transition: all .5s ease-out;
}
.questions .card:hover {
    cursor: pointer;
    background-color: rgb(120, 120, 120);
}
footer {
    border-top: 5px solid grey;
    background-color: #000000;
    height: 60vh;
    display: flex;
}
footer .cards {
    color: white;
    margin: auto;
    height: 80%;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}
select {
    width: 6vw;
    color: white;
    background: transparent;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}
footer .cards .card ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .cards .card ul li {
    padding-bottom: 20px;
    list-style-type: none;
}
footer .cards .card ul li a {
    color: white;
}