<footer class="bg-dark">
  <div class="container p-5 d-flex justify-content-between align-items-center">
    <div class="order-2">
      <h4>Follow us on</h4>
      <div class="socials mt-2 d-flex">
        <a href="#" class="me-2"
          ><img src="./assets/facebook.png" alt="facebook" width="40"
        /></a>
        <a href="#" class="me-2"
          ><img src="./assets/insta.png" alt="insta" width="40"
        /></a>
        <a href="#" class="me-2"
          ><img src="./assets/twitter.png" alt="twitter" width="40"
        /></a>
      </div>
    </div>
    <p class="w-50">
      Bandhan® is a registered trademark and should not be used without
      permission © Copyrights Bandhan.com 2021 - 2024. All rights reserved.
    </p>
  </div>
</footer>