<div class="container d-flex flex-column justify-content-center align-items-center m-5">
  <h1 class="brand w-75 text-center mb-5">Create Your Profile</h1>
  <form method="POST" action="/user/profile/createProfile">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" class="w-100 mb-3" required><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" class="w-100 mb-3" required><br>

    <label for="profile">Profile Type:</label>
    <input type="text" id="profile" name="profile" class="w-100 mb-3" required><br>

    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" class="w-100 mb-3" required><br>

    <label for="height">Height:</label>
    <input type="number" id="height" name="height" class="w-100 mb-3" required><br>

    <label for="status">Marital Status:</label>
    <input type="text" id="status" name="status" class="w-100 mb-3" required><br>

    <label for="language">Language:</label>
    <input type="text" id="language" name="language" class="w-100 mb-3" required><br>

    <label for="religion">Religion:</label>
    <input type="text" id="religion" name="religion" class="w-100 mb-3" required><br>

    <label for="occupation">Occupation:</label>
    <input type="text" id="occupation" name="occupation" class="w-100 mb-3" required><br>

    <label for="pinCode">Pin Code:</label>
    <input type="text" id="pinCode" name="pinCode" class="w-100 mb-3" required><br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" class="w-100 mb-3" required><br>

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" class="w-100 mb-3" required><br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" class="w-100 mb-3" required><br>

    <label for="note">Note:</label>
    <textarea id="note" name="note" class="w-100 mb-3"></textarea><br>

    <div class="d-flex mt-3">
      <button type="submit" class="btn btn-primary mx-auto">Create Profile</button>
    </div>
    
  </form>
</div>