<div class="container d-flex flex-column justify-content-center align-items-center m-5">
  <h1 class="brand w-50 text-center mb-5">Create Your Profile</h1>
  <form method="POST" action="/user/profile/createProfile" class="w-50 d-flex flex-column justify-content-center align-items-center">
    <div class="mb-3 w-75 px-2">
      <label for="exampleInputEmail1" class="form-label">First Name: </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="firstName">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3 w-75 px-2">
      <label for="exampleInputPassword1" class="form-label">Last Name: </label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="lastName">
    </div>
    <div class="row p-0 w-75">
    <div class="col-12 col-md-6 mb-3">
      <label for="profile" class="form-label">Looking For: </label>
      <select name="profile" id="profile" class="profile w-100 rounded-3 p-1 fs-5">
          <option value="select" disabled selected>Looking For</option>
          <option value="self">Self</option>
          <option value="son">Son</option>
          <option value="daughter">Daughter</option>
          <option value="nephew">Nephew</option>
          <option value="niece">Niece</option>
      </select>
    </div>
    <div class="col-12 col-md-6 mb-3 w-50">
      <label for="date" class="form-label">Date of Birth: </label>
      <input type="date" class="form-control w-100" id="date" name="dateOfBirth">
    </div>
  </div>
  <div class="row w-75">
    <div class="col-12 col-md-6 mb-3">
      <label for="height" class="form-label">Height (cm): </label>
      <input type="number" class="form-control" id="height" name="height">
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="status" class="form-label w-100">Martial Status: </label>
      <select name="status" id="status" class="profile w-100 rounded-3 p-1 fs-5">
        <option value="select" disabled selected>Status</option>
        <option value="single">Single</option>
        <option value="married">Married</option>
        <option value="divorced">Divorced</option>
      </select>
    </div>
  </div>
  <div class="row w-75">
    <div class="col-12 col-md-6 mb-3">
      <label for="language" class="form-label w-100">Language: </label>
      <select name="language" id="language" class="profile profile-text w-100 rounded-3 p-1 fs-5">
          <option value="select" disabled selected>Select Language</option>
          <option value="english">English</option>
          <option value="urdu">Urdu</option>
          <option value="Pashtu">Pashtu</option>
          <option value="sindhi">Sindhi</option>
          <option value="blochi">Blochi</option>
      </select>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="religion" class="form-label w-100">Religion: </label>
      <select name="religion" id="religion" class="profile profile-text w-100 rounded-3 p-1 fs-5">
          <option value="select" disabled selected>Select Religion</option>
          <option value="islam">Islam</option>
          <option value="christian">Christian</option>
          <option value="hindu">Hindu</option>            
      </select>
    </div>
  </div>
  <div class="row w-75">
    <div class="col-12 col-md-6 mb-3">
      <label for="occupation" class="form-label w-100">Occupation: </label>
      <input type="text" name="occupation" id="occupation" class=" profile profile-text w-100 rounded-3 p-1 fs-5">
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="pin" class="form-label w-100">Pin Code: </label>
      <input type="text" class="form-control profile profile-text w-100 rounded-3 p-1 fs-5" id="pin" name="pinCode">
    </div>
  </div>
  <div class="row w-75">
    <div class="col-12 col-md-6 mb-3">
      <label for="age" class="form-label w-100">Age: </label>
      <input type="number" class="form-control" id="age" name="age">
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label for="phone" class="form-label w-100">Phone No: </label>
      <input type="text" class="form-control" id="phone" name="phoneNumber">
    </div>
  </div>
    <div class="mb-3 w-75 px-2">
      <label for="address" class="form-label">Address: </label>
      <input type="text" class="form-control" id="address" name="address">
    </div>
    <div class="mb-3 w-75 px-2">
      <label for="note" class="form-label">Note: </label>
      <textarea type="text" class="form-control" id="note" name="note"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg w-50 my-4">Create Profile</button>
    </div>
  </form>
</div>