html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./assets/park.jpeg) left center;
    background-attachment: fixed;
}
#clock {
    font-size: 6rem;
    border-radius: 20px;
    background-color: rgba(216, 216, 216, 0.329);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* backdrop-filter: blur(5px); */
}