
<div class="container marketing my-5">
  <hr class="featurette-divider" />

  <div class="row featurette my-5">
    <div class="col-md-7 d-flex flex-column justify-content-center">
      <h2 class="featurette-heading">
        Bandhan is Pakistan's Most Trusted Platform for marriages.
        <span class="text-muted">To find Best Fit Partner for you.</span>
      </h2>
      <p class="lead my-3">
        Bandhan offers exceptional services for those seeking matrimony or looking to find their ideal partner for the future. With a user-friendly platform and comprehensive profiles, Bandhan ensures a seamless and personalized experience, helping individuals connect with compatible matches based on their preferences and values. Trusted and widely acclaimed, Bandhan is dedicated to making the journey of finding a life partner both fulfilling and successful.
      </p>
    </div>
    <div class="col-md-5">
      <img src="/assets/about-1.jpg" alt="image-1" width="500">
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>