<form>
    <div class="row mb-3">
      <div class="col">
        <label for="behalf" class="d-block">On Behalf</label>
      <select name="behalf" id="behalf">
        <option value="son">Son</option>
        <option value="daughter">Daughter</option>
        <option value="self">Self</option>
      </select>
      </div>
    </div>
    <div class="row mb-3">
    <div class="col-12 col-md-6 p-3 mb-3">
      <label for="fname" class="me-auto">First Name</label>
      <input type="text" class="form-control" name="fname" id="fname" required>
    </div>
    <div class="col-12 col-md-6 mb-3 p-3">
      <label for="lname" class="me-auto">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-6 p-3 mb-3">
      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <div class="col-12 col-md-6 p-3 mb-3">
      <label for="birth">Date of Birth</label>
      <input type="date" name="birth" id="birth">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col p-3">
      <label for="email" class="d-block">Email</label>
      <input type="email" name="email" id="email">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col col-6 p-3 mb-3">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="col col-6 p-3 mb-3">
      <label for="confirm">Confirm Password</label>
      <input type="password" name="confirm" id="confirm">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col p-3">
      <label for="address">Address</label>
      <input type="text" name="address" id="address">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col p-3">
      <label for="phone">Phone No.</label>
      <input type="text" name="phone" id="phone">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-6 p-3">
      <label for="age">Age</label>
      <input type="number" name="age" id="age">
    </div>
    <div class="col-12 col-md-6 p-3">
      <label for="mStatus">Martial Status</label>
      <input type="number" name="mStatus" id="mStatus">
    </div>
  </div>
    
    <button type="submit" class="btn btn-primary">Register</button>
  </form>