
<div class="container marketing my-5">
    <hr class="featurette-divider" />
  
    <div class="row featurette my-5">
      <div class="col-md-7 d-flex flex-column justify-content-center">
        <h2 class="featurette-heading">
          First featurette heading.
          <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">
          Some great placeholder content for the first featurette here. Imagine
          some exciting prose here.
        </p>
      </div>
      <div class="col-md-5">
        <img src="/assets/marriage-3.jpeg" alt="image-1" width="500" height="500">
      </div>
    </div>
  
    <hr class="featurette-divider" />
  
    <div class="row featurette my-5">
      <div class="col-md-7 order-md-2 d-flex flex-column justify-content-center">
        <h2 class="featurette-heading">
          Oh yeah, it’s that good.
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Another featurette? Of course. More placeholder content here to give you
          an idea of how this layout would work with some actual real-world
          content in place.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/marriage-3.jpeg" alt="image-1" width="500" height="500">
      </div>
    </div>
  
    <hr class="featurette-divider" />
    <!-- /END THE FEATURETTES -->
  </div>