<div class="container w-25 vh-75">
  <form class="d-flex flex-column justify-content-center align-items-center">

    <div class="row w-100">
      <div class="w-100 p-3">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" id="email" />
      </div>
    </div>
  
    <div class="row w-100">
      <div class="w-100 p-3">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" id="password" />
      </div>
      </div>

      <div class="row w-100">
      <div class="w-100 p-3">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" class="form-control" id="confirm" />
      </div>
    </div>
    
      <div class="row w-100 mb-3">
      <div class="w-100 p-3">
        <button type="submit" class="btn btn-primary form-control w-100" ">Register</button>
      </div>
    </div>
  
  </form>
  
</div>