<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student List</h1>
    <ul>
        <% student.forEach(item => {
            %>
            <li>
                <h2>
                    <%=item.name  %></h2>
                    <p>  Quantity: <%=item.phonenumbers  %> </p>
                    <p>  Price: <%=item.email  %> </p>
                   
                    


                </li>
            
            <%
            
        }); %>
    </ul>
</body>
</html>