<div class="container d-flex flex-column align-items-center">
    <h1 class="w-50 ps-5 ms-5 fs-1 mt-5">Meet Our Successful Member Professionals</h1>
    <div class="members">
        <div class="row">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center p-5">
                <img src="/assets/sec-1.png" width="250" height="150" alt="sec-1">
                <p>We have members from all religions and ages. Our most popular age group is from 27 - 60. Almost all our singles are successful professionals and businessmen. Creating a great profile is essential in online matchmaking and adding your best photo to your profile. We offer abundant tips and relationship advice through our blogs. It is our passion to help you in the best possible way.</p>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center p-5">
                <img src="/assets/sec-4.png" width="250" height="150" alt="sec-4">
                <p>Bandhan.com is an international matchmaking platform. Through which people can find love and long lasting relationships. Our profiles are verified with cell phone and email verification. We make use of the latest technology for fraud detention and SSL encryption. Non-active users are removed from our network. We are committed to providing a safe web service for like-minded singles in your region.</p>
            </div>
        </div>
    </div>
</div>