<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="brand w-50 text-center mb-5">Create Your Profile</h1>
  <form class="w-50 d-flex flex-column justify-content-center align-items-center">
    <div class="mb-3 w-75">
      <label for="exampleInputEmail1" class="form-label">Email: </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3 w-75">
      <label for="exampleInputPassword1" class="form-label">Password: </label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 w-75">
      <label for="profile" class="form-label">Create Profile For: </label>
      <select name="profile" id="profile">
          <option value="select" disabled>Select Here</option>
          <option value="self">Self</option>
          <option value="son">Son</option>
          <option value="daughter">Daughter</option>
          <option value="nephew">Nephew</option>
          <option value="niece">Niece</option>
      </select>
    </div>
    <div class="mb-3 w-75">
      <label for="date" class="form-label">Date of Birth: </label>
      <input type="date" class="form-control" id="date">
    </div>
    <div class="mb-3 w-75">
      <label for="height" class="form-label">Height (cm): </label>
      <input type="number" class="form-control" id="height">
    </div>
    <div class="mb-3 w-75">
      <label for="status" class="form-label">Martial Status: </label>
      <input type="text" class="form-control" id="status">
    </div>
    <div class="mb-3 w-75">
      <label for="language" class="form-label">Language: </label>
      <select name="language" id="language">
          <option value="select" disabled>Select Here</option>
          <option value="english">English</option>
          <option value="urdu">Urdu</option>
          <option value="Pashtu">Pashtu</option>
          <option value="sindhi">Sindhi</option>
          <option value="blochi">Blochi</option>
      </select>
    </div>
    <div class="mb-3 w-75">
      <label for="religion" class="form-label">Religion: </label>
      <select name="religion" id="religion">
          <option value="select" disabled>Select Here</option>
          <option value="islam">Islam</option>
          <option value="christian">Christian</option>
          <option value="hindu">Hindu</option>            
      </select>
    </div>
    <div class="mb-3 w-75">
      <label for="city" class="form-label">City: </label>
      <select name="city" id="city">
          <option value="select" disabled>Select Here</option>
          <option value="abbottabad">Abbottabad</option>
          <option value="attock">Attock</option>
          <option value="bahawalpur">Bahawalpur</option>
          <option value="balaKot">Bala Kot</option>
          <option value="chak">Chak</option>            
          <option value="chakwal">Chakwal</option>            
          <option value="chitral">Chitral</option>            
          <option value="karachi">Karachi</option>            
          <option value="lahore">Lahore</option>            
          <option value="multan">Multan</option>            
          <option value="sialkot">Sialkot</option>            
      </select>
    </div>
    <div class="mb-3 w-75">
      <label for="pin" class="form-label">Pin Code: </label>
      <input type="text" class="form-control" id="pin">
    </div>
    <div class="mb-3 w-75">
      <label for="phone" class="form-label">Phone No: </label>
      <input type="text" class="form-control" id="phone">
    </div>
    <div class="mb-3 w-75">
      <label for="address" class="form-label">Address: </label>
      <input type="text" class="form-control" id="address">
    </div>
    <button type="submit" class="btn btn-primary btn-lg w-75">Create Profile</button>
    </div>
  </form>
</div>